@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{Layout = null;}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>@ViewBag.Greeting World (from the view)</div>
    <p>We're going to have an exciting party.<br />(To do: sell it better. Add pictures or something.)</p>
</body>
</html>The new contents of the view file are mostly HTML. The exception is the part that looks like this:...@{Layout = null;}...
